absl-py
cycler
decorator
imageio
ipdb
ipython
ipython-genutils
kiwisolver
matplotlib
numpy
opencv-python
pexpect
pickleshare
Pillow
protobuf
ptyprocess
pyparsing
python-dateutil
pytz
PyYAML
scipy==1.1.0
simplegeneric
six
tensorboardX
torchvision
traitlets
