[submodule "reference/celeba-hq-modified"]
	path = reference/celeba-hq-modified
	url = https://github.com/willylulu/celeba-hq-modified.git
[submodule "reference/progressive_growing_of_gans"]
	path = reference/progressive_growing_of_gans
	url = https://github.com/tkarras/progressive_growing_of_gans.git
